body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 뉴스 */
.news {
  height:340px;
  display: flex;
  overflow: auto;
  white-space: normal;
}
.news > div {
  height: 340px;
  width: 280px;
}
.news > div:hover {
  cursor: pointer;
}
.news img {
  height:200px;
  width:280px;
  object-fit:cover;
}
.news p {
  width:280px;
  word-wrap: break-word;
  font-size: small;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}