body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 228, 220);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 메인 */
.home {
  padding: 10px 10px 10px 10px;
}

/* 뉴스 */
.news {
  height:340px;
  display: flex;
  overflow: auto;
  white-space: normal;
}
.news > div {
  height: 300px;
  width: 280px;
  background-color: white;
  border-radius: 20px;
  margin-right: 10px;
}
.news > div:hover {
  cursor: pointer;
}
.news img {
  height:200px;
  width:280px;
  object-fit:cover;
  border-radius: 20px;
}
.news p {
  width:270px;
  word-wrap: break-word;
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
}

/* 할일 */
.todos {
  width: 90%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.todos input{
  width: 103%;
  height: 50px;
  font-size: 1.5em;
  border-radius: 10px;
}
.todos textarea{
  width: 105%;
  height: 300px;
  font-size: 2.5em;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}
.days {
  width: 105%;
  height: 80px;
  border-radius: 10px;
  background-color: white;

  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.days button {
  width: calc(1em / 0.5);
  height: calc(1em / 0.5);
  margin: auto;

  border-radius: 50%;
 
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5em;
  color: rgb(255, 255, 255);
  border: none
}
.isChecked {
  background-color: rgb(213, 219, 42);
}
.isNotChecked {
  background-color: rgb(187, 187, 187);
}

/* TODO */
.today{
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 10px;
}
.today:hover{
  cursor: pointer;
}
.today * *{
  margin-left: 40px;
  padding-top: 10px;
}
.today .title {
  font-size: 20px;
  font: bold;
}
.close {
  float: right;
}
.close:after {
  display: inline-block;
  content: "\00d7"; 
  font-size: 35pt;
  margin-top: -18px;
}
.check {
  float: left;
  margin-top: 5px;
  zoom: 2;
}

/* Footer */
.footer {
  width: 95%;
  height: 70px;
  position: fixed;
  bottom: 0;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: yellow;
}