body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.news {
  height:340px;
  display: flex;
}

.news > div {
  height: 250px;
  width: 280px;
}
.news > div:hover {
  cursor: pointer;
}

.news img {
  height:250px;
  width:280px;
  object-fit:cover;
}

.news p {
  font-size: small;
}